// Sections

// Blocks

.copy-block {
  max-width: 35em;
}

// Endbar

.endbar {
  height: 2rem;
  background: $yellow;
  &-right {
    width: 100%;
    align-self: flex-end;
    @include screen--l {
      width: 75%;
    }
    @include screen--m {
      width: 84%;
    }
  }
  &-full {
    width: 100%;
  }
}
