$white: #fcfcfd;
$lesswhite: #ededf2;
$greywhite: #dadae3;
$grey: #3b3b40;
$lightgrey: lighten($grey, 10%);
$lessblack: #2e2e33;
$black: #252529;
$yellow: #f7dd38;
$lightyellow: #fced65;
$darkyellow: #f0c811;
$orange: #fc6005;
$red: #d5443c;
$darkred: darken($red, 10%);
$green: #2a3a2b;
$blue: #5bcaeb;
