.serif {
  font-family: $serif;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: inherit;
}

h1 {
  color: $black;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
}

p {
  margin: 0 0 1rem 0;
}

.text-center {
  text-align: center;
}

// text-lg sm:text-2xl my-8 mx-4 lg:mt-8 lg:mb-16 font-bold italic text-gray-500 px-4

blockquote {
  border-left: 2rem solid $yellow;
}

.massive {
  font-size: $font-size-m;
  margin: 1rem 0 0;

  @include screen--m {
    font-size: $font-size-l;
  }

  @include screen--xl {
    font-size: 6rem;
  }
}
