p {
  margin: 0 0 1rem 0;
}

// text-lg sm:text-2xl my-8 mx-4 lg:mt-8 lg:mb-16 font-bold italic text-gray-500 px-4

blockquote {
  border-left: 2rem solid $yellow;
}

.text-shadow-sm {
  text-shadow: -1px 1px 0 $lessblack;
}
