// Main wrapper that contains both sidebar and content
.wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.content {
    &-wrapper {
      @include transition($ease);
        position: relative;

        // Was top:50 for the header, but removed the header for the launch. Header will display on mobile.
        top: 0;
        left:0;
        margin-left: 0;
        width:100%;
        @include screen--l {
            margin-left: 250px;
        }
    }

    &--sidebar {
        left: 250px;
        @include screen--l {
          left:0;
        }
    }
}