@import '../modules/colors';
@import '../modules/mixins';

.button {
  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.06);
  }
}

// Yellow Button
.yellow {
  color: var(--black);
  background: var(--primary-400);
  box-shadow: 0 0 0 0 var(--primary-600);

  &:hover,
  &:focus {
    box-shadow: 0 3px 0 0 var(--primary-600);
  }
}
