@import '../modules/units';
@import '../modules/mixins';
@import '../modules/colors';

$sidebarWidth: 350px;

.sidebar {
  width: $sidebarWidth;
  transition: 0.5s all;
  transform: translateX(-350px);
  // @media screen and (max-width: $grid-breakpoint-l - 1px) {
  // }
  &_open {
    transform: translateX(0);
  }
  & li {
    &:before {
      display: none;
    }
  }
}

.nav {
  border-top: 1px solid var(--gray-500);

  & a:after {
    display: none;
  }
}

.close {
  margin: 1rem 0.75rem 0;
}

.footer {
  display: flex;
  margin-top: auto;
  padding: 1rem 0;
  background: var(--gray-500);

  &_section {
    flex-grow: 1;
    text-align: center;

    &:first-child {
      border-right: 1px solid var(--gray-500);
    }
  }
}

.content {
  max-height: 0px;
  transition: all 0.35s ease;
  overflow: hidden;
}
.visible {
  height: auto;
  max-height: 400px;
}
.toggle {
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    z-index: -1;
    left: 0;
    background: var(--primary-400);

    @include transition($ease);
  }

  &_selected,
  &:hover,
  &:focus {
    &:after {
      width: 100%;
    }
  }
}

.section {
  margin: 1rem 0;
}
